body {
  background-color: #503E9D;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%
}
html, body {margin: 0; height: 100%; }
body::-webkit-scrollbar{width:0px}

main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
}

.login--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.login--form{
  background: #F9F9F9;
  width: 600px;
  height: 300px;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 50px;
}
.login--mdpoublie{
  position: absolute;
  color: #979797;
  bottom:10px;
  right:10px;
  text-decoration: none;
}
.login--form  > form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fleur_left_login,
.fleur_right_login{
  bottom:0;
  position:absolute;
}
.fleur_left_register,
.fleur_right_register{
  top:0;
  position:absolute;
}
.fleur_left_login,
.fleur_left_register{
  left:0;
}
.fleur_right_login,
.fleur_right_register{
  right:0;
}
.fleur_mid{
  margin-bottom: 25px;
}
form{
  position: relative;
  border-radius: 25px;
  background: #F9F9F9;
  width:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:50px;
}

form > input{
  background: #dddddd;
  border-radius: 25px;
  margin: 0em 4em;
  height: 45px;
  border: 0;
  padding-left: 25px;
  width: 100%;
}
.btn--submit{
  background: #503E9D;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 25px;
  color: white;
  width: 50%;
  align-self: center;
  height: 50px;
  padding:0;
}
.login--logo{
  width: 300px;
  height: 300px;
}
.login--separator{
  border: 1px solid #B6ABE6;
  width: 300px;
  margin-bottom: 50px;
}
.login--socials a:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}
.login--img--leftcorner--container{
  position: absolute;
  height: 750px;
  width: 750px;
  top: 15em;
 
}
.login--socials{
  margin-top: 25px;
  margin-bottom: 25px;
}
.login--img--leftcorner{

  position: absolute;
  top: 0px;
  width: 630px;
  height: 994px;

}
.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 25%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}